# Excluir archivos y directorios relacionados con el control de versiones y configuraciones locales
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.dockerignore
**/.env

# Excluir directorios de compilación y dependencias locales
**/bin
**/obj
**/node_modules
**/npm-debug.log

# Excluir archivos y directorios específicos de herramientas de desarrollo
**/azds.yaml
**/secrets.dev.yaml
**/values.dev.yaml

# Excluir archivos de configuración del entorno de desarrollo
*/.*proj.user
*/.dbmdl
*/.jfm

# Incluir README y LICENSE
LICENSE
README.md

# Asegurar que .gitignore se incluya
!/.gitignore